

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box; /*Universal Box-sizing*/
    font-family: sans-serif;
}

body {
    background: #1f242d;

}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: red;
    display:flex;
    justify-content: space-between;
    align-items: flex-start;

}